@import '../../styles/index.scss';
.new-view{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border-radius: 6px;
  margin:15px 15px;
  box-shadow: 0px 1px 4px 0px rgba(21,34,50,0.4);
-webkit-box-shadow: 0px 1px 4px 0px rgba(21,34,50,0.4);
-moz-box-shadow: 0px 1px 4px 0px rgba(21,34,50,0.4);
  &__title{
    font-family: $Inter-Bold;
    font-size: 20px;
    line-height: 28px;
    color:$blackish;
    padding-bottom: 15px;
  }
  &__desc{
    font-size: 16px;
    font-family: $Inter-Regular;
    line-height: 24px;
    color:$darkbrown;
    padding-bottom: 20px;
  }
  &__btn{
    background-color: $blue;
    color:$white;
    border-radius: 4px;
    border:1px solid $border97;
    font-size: 16px;
    font-family: $Inter-Regular;
    line-height: 24px;
    padding:10px 10px 10px 30px;
    cursor: pointer;
    span{
      padding-left:10px;
    }
  }
}
