$palegrey:#EDEFF2;
$white:#FFF;
$blackish:#131523;
$tripple_7:#7F7F7F;
$skyish:#99ADC5;
$blue:#194D8D;
$dirtyblue:#2F4259;
$silver:#C8CCD1;
$logblue:#397FBF;
$borderbrown:#707070;
$darkbrown:#404040;
$border97:#979797;
// fonts
@import './_fonts.scss';
$Inter-Thin:'Inter-Thin';
$Inter-ExtraLight:'Inter-ExtraLight';
$Inter-Light:'Inter-Light';
$Inter-Regular:'Inter-Regular';
$Inter-Medium:'Inter-Medium';
$Inter-SemiBold:'Inter-SemiBold';
$Inter-Bold:'Inter-Bold';
$Inter-ExtraBold:'Inter-ExtraBold';
$Inter-Black:'Inter-Black';

